
@{
    ViewBag.Title = "Curso";
}

<h2>Curso</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />

<label>Ingrese Nombre</label>
<input type="text" id="txtnombre" />

<input type="button" id="btnBuscar" value="Buscar" class="btn btn-primary" />
<input type="button" id="btnLimpiar" value="Limpiar" class="btn btn-success" />


    <div id="tabla">


    </div>

    


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Curso.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
