
@{
    ViewBag.Title = "Periodo";
}

<h2>Periodo</h2>

<link href="~/Content/datatables.css" rel="stylesheet" />

<label>Ingrese Nombre Periodo</label>
<input type="text" id="txtnombre"  />

<div id="periodo">


</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Periodo.js"></script>
<script src="~/Scripts/datatables.min.js"></script>

