
@{
    ViewBag.Title = "Alumnos";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Alumnos</h2>

<label>Seleccione Sexo</label>
<select id="cboSexo">

    <!-- <option value="1">Masculino</option>
    <option value="2">Femenino</option>-->

</select>
<input type="button" id="btnBuscar" value="Buscar" class="btn btn-success" />
<input type="button" id="btnLimpiar" value="Limpiar" class="btn btn-primary" /> 

<div id="tabla">



</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/AlumnoJS.js"></script>
<script src="~/Scripts/datatables.min.js"></script>