
@{
    ViewBag.Title = "ComboBoxJS";
}

<h2>ComboBoxJS</h2>


<select id="cboPersona">
    
</select>



</>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ComboBox.js"></script>
