
@{
    ViewBag.Title = "Ini";
}

<h2>Repaso</h2>

<label>Ingrese numero 1</label>
<input type="text" id="txtnumero1" />
<br />
<label>Ingrese numero 2 </label>
<input type="text" id="txtnumero2"/>
<br />
<input type="button" value="Sumar" id="btnSumar">

<label id="respuesta"></label>

<input type="button"  value="Limpiar" id="btnBorrar" />


<script src="~/Scripts/sumar.js"></script> 