
@{
    ViewBag.Title = "Tablas";
}

<h2>Tablas</h2>

<table class="tabla">
    <thead>
        <tr>
            <td>Nombre </td>
            <td>Apellido </td>
            <td>Apellido </td>
            <td>Telefono </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JUan carlos</td>
            <td>enestrilla</td>
            <td>Rodriguez</td>
            <td>123456789</td>
        </tr>
    </tbody>   
</table>



